{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="main">
  <div class="space"></div>
  <div class="canvas">
    <h1>個人情報</h1>
    {% for user in users %}
      <article>
        <h2>NAME : {{ user.user_name }}</h2>
        <h2>ID : {{ user.user_id }}</h2>
        <p>{{ user.created_at }}</p>
      </article>
      <br>
    {% endfor %}
    <h1>あなたの参加しているグループ</h1>
    {% for group in user_groups %}
      <article>
        <h2>GROUP NAME : {{ group.group_name }}</h2>
        <h2>GROUP ID : {{ group.group_id }}</h2>
        <p>{{ group.created_at }}</p>
        <a href="/edit/{{group.group_id}}" type="button" class="btn btn-outline-primary">編集</a>
        <a href="/delete/{{group.group_id}}" type="button" class="btn btn-outline-primary">削除</a>
      </article>
      <br>
    {% endfor %}
    <br>
    <a href="/create" type="button" class="btn btn-outline-primary">グループ作成</a>
    <a href="/join" type="button" class="btn btn-outline-primary">グループに入る</a>
    <a href="/logout" type="button" class="btn btn-outline-primary">ログアウト</a>
  </div>
  <div class="space"></div>
</div>
{% endblock %}